{{ $map := createMap -}}
{{ range $key, $app := .apps -}}
    {{- with $app.url -}}
        {{- if not (index $map $app.url) -}}
            {{ template "inputs.http_response" $app }}
        {{- end -}}
        {{- $map = pushToMap $map $app.url 1 -}}
    {{- end -}}
{{ end }}

{{ define "inputs.http_response" }}
[[inputs.http_response]]
  urls = ["{{ $.url }}"]
{{ end }}
